.form {

  width: 50%;
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.div {
  width: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.error_message {
  color: rgb(240, 47, 47);
}

